.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.gitignore
orchaRd_vignette_cache/
orchaRd_vignette_files/
_bookdown.yml
inst/doc
.DS_Store
figures/*.pdf
figures/*.pptx
figures/*.png
figures/Table1.docx
figures/orchard_fig.ai
figures/old/
orchard_plot_survey_2/
.vscode/settings.json
orchaRd_vignette.qmd_files/figure-html/Figure1-1.png
orchaRd_vignette.qmd_files/figure-html/Figure2-1.png
orchaRd_vignette.qmd_files/figure-html/Figure3-1.png
orchaRd_vignette.qmd_files/figure-html/Figure4-1.png
orchaRd_vignette.qmd_files/figure-html/Figure5-1.png
orchaRd_vignette.qmd_files/figure-html/Figure6-1.png
orchaRd_vignette.qmd_files/figure-html/Figure7-1.png
orchaRd_vignette.qmd_files/figure-html/Figure8-1.png
orchaRd_vignette.qmd_files/figure-html/Figure9-1.png
orchaRd_vignette.qmd_files/figure-html/Figure10-1.png
orchaRd_vignette.qmd_files/figure-html/Figure11-1.png
orchaRd_vignette.qmd_files/figure-html/figure12-1.png
orchaRd_vignette.qmd_files/figure-html/Figure121-1.png
orchaRd_vignette.rmarkdown
Shared with Dan/orachRd2_V13.docx
Shared with Dan/figures/fig1.pdf
Shared with Dan/figures/fig2.pdf
Shared with Dan/figures/fig3.pdf
Shared with Dan/figures/fig4.pdf
Shared with Dan/figures/figs.R
Shared with Dan/Icon?
Shared with Dan/

Shared with Dan/Code+checklist+for+submissions2.docx
Shared with Dan/orachRd2_V13_clean.docx
Shared with Dan/Orchard_MEE.docx
Shared with Dan/orchard2_plot_survey_updated.html.zip
Shared with Dan/orchard2_plot_survey_updated.html
Shared with Dan/orachRd2_V13_clean.pdf

R/caterpillars_MLJ.R
issues/