.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.gitignore
orchaRd_vignette_cache/
orchaRd_vignette_files/
_bookdown.yml
inst/doc
.DS_Store
figures/*.pdf
figures/*.pptx
figures/*.png
figures/Table1.docx
figures/orchard_fig.ai
figures/old/
orchard_plot_survey_2/